.table {
    position: relative;
    margin-top: -58px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 13px 3px rgba($color: #000000, $alpha: 0.1);
    border-radius: 20px 20px 0 0;
    text-align: left;

    thead {
        tr {
            line-height: 50px;
        }
    }

    .rank {
        width: 60px;
    }

    .name {
        width: 250px;
        text-align: left;

        .container {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }

    .price {
        width: 200px;
    }

    .total_volume {
        width: 250px;
    }

    .market_cap {
        width: 250px;
    }

    .percentage_change_24h {
        width: 150px;
    }

    tbody {

        tr {
            background-color: #fff;
            line-height: 50px;

            td {
                font-weight: 500;
            }

            .name {
                width: 200px;
            }

            td.price {
                display: flex;
                align-items: center;
                color: black;

                span {
                    margin-left: 10px;
                }
            }

            td.price.green {
                color: green;
            }

            td.price.red {
                color: red;
            }

            td.price.equal {
                color: black;
            }

            .total_volume {
                display: flex;
                align-items: center;

                span {
                    margin-left: 10px;
                }
            }

            .market_cap {

                .marketCapContainer {
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 10px;
                    }
                }
            }
        }

    }
}